{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card m-3">
        <div class="card-header d-flex justify-content-between">
          {{ current_user.name }}'s Account
          <div>
            {% if current_user.is_admin %}
            <a href={{url_for( "users.admin" )}}>Admin Portal</a> | {% endif %}
            <a href={{url_for( "users.logout" )}}>Log out</a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">E-mail: {{ current_user.email }}</h5>
          <h5 class="card-title">Coin Balance: ${{ current_user.coins }}</h5>
          <h5 class="card-title">Transactions: {{ current_user.transactions|length }}</h5>
        </div>
        <div class="card-body">
          <h1>Transfer Coins</h1>
          <form class="form-inline" id="transaction-form" action={{url_for( 'transactions.create' )}} method="POST">
            <input type="text" class="form-control mb-2 mr-sm-2" name="email" placeholder="Recipient e-mail">
            <input type="number" class="form-control mb-2 mr-sm-2" name="amount" placeholder="Amount to Transfer" max={{current_user.coins}}>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
          </form>
        </div>
        <div class="card-body">
          <h1>Transaction History</h1>
          {% if current_user.transactions|length == 0 %}
          <p>No transactions yet!</p>
          {% else %}
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
              </tr>
            </thead>
            {% for transaction in current_user.transactions %}
            <tr>
              <td>{{ transaction.created_at.strftime('%Y-%m-%d, %H:%M') }}</td>
              {% if transaction.recipient_id == current_user.id %}
              <td>{{ transaction.sender.email }}</td>
              <td>You</td>
              <td class="text-success">${{ transaction.amount }}</td>
              {% else %}
              <td>You</td>
              <td>{{ transaction.recipient.email }}</td>
              <td class="text-danger">${{ transaction.amount }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}